<!DOCTYPE html>
<html>
<head>
	<title>Go Daily</title>
</head>
<body>
<table>
{{range .news}}
<tr style="margin-top:20px;">
	<td><img src="{{if eq (len .Image) 0}}/public/no.jpg{{else}}{{.Image}}{{end}}"/></td>
	<td><div style="padding:5px;"><a href="{{.Url}}" target="_blank">{{.Title}}</a></div>
	<div style="padding:5px;color:#878787;">
	{{.Author}}&nbsp; &nbsp; {{Time2Str .Updated}}&nbsp; &nbsp; <a href="{{SiteLink .Site}}" target="_blank">{{SiteName .Site}}</a></div>
	</td>
</tr>
{{end}}
</table>
</body>
</html>